.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-content {
  margin: 0 16px;
}

nz-content.unauthorized-status {
  margin: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 650px;
}

nz-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100% - 300px);
  padding: 20px 50px;
}

nz-footer.collapsed {
  width: calc(100% - 80px);
}

nrwl-workspace-navigation {
  position: relative;
  display: block;
  height: calc(100vh - 64px);
}

perfect-scrollbar {
  height: calc(100vh - 64px);
}

::ng-deep perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  width: 0px !important;
}

.trigger {
  position: absolute;
  top: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  transition: left 0.35s;
}
