.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 650px;
}

nz-footer {
  text-align: center;
}

nrwl-workspace-navigation {
    position: relative;
    display: block;
    height: calc(100vh - 64px);
}

perfect-scrollbar {
  height: calc(100vh - 64px);
}

::ng-deep perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  width: 0px !important;
}
