.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-content.unauthorized-status {
  margin: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 650px;
}

nz-footer {
  text-align: center;
}

nrwl-workspace-navigation {
  position: relative;
  display: block;
  height: calc(100vh - 64px);
}

perfect-scrollbar {
  height: calc(100vh - 64px);
}

::ng-deep perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  width: 0px !important;
}

.trigger {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  transition: left 0.35s;
}

::ng-deep .trigger.anticon-menu-fold {
  left: 300px;
}

::ng-deep .trigger.anticon-menu-unfold {
  left: 80px;
}

.header-menu {
  height: 64px;
}

.header-menu > li {
  height: 64px;
  float: right;
}

.header-menu > li:hover .avatar {
  color: #fff;
}

.header-menu .avatar {
  color: #5d5d5d;
  margin-top: 10px;
  font-weight: 500;
}

::ng-deep .header-menu .avatar > i {
  margin-right: 0;
}

.divider-menu {
  margin: 10px 0;
}

.user-action-menu {
  border: none;
}

.user-action-menu > li.ant-menu-item {
  margin: 0;
  padding: 0 16px !important;
}

.user-action-menu > li.ant-menu-item:hover {
  background-color: #1890ff;
}

.user-action-menu > li.ant-menu-item > a:hover {
  color: #fff;
}

