<span class="settings" (click)="open()"><i nz-icon [nzType]="'setting'" [nzSpin]="true" [nzTheme]="'fill'"></i></span>
<nz-drawer [nzClosable]="false" [nzBodyStyle]="{'color': '#ccc'}" [nzVisible]="visible" nzPlacement="right"
    [nzTitle]="drawerTemplate" (nzOnClose)="close()" [nzWrapClassName]="getCurrentTheme()">
    <fieldset>
        <legend translate>
            {{'themes' | translate}}
        </legend>
        <nz-radio-group nzName="Demo" [(ngModel)]="themeSetting" (ngModelChange)="changeTheme()">
            <label nz-radio nzValue="light-theme">{{'theme.light' | translate}}</label>
            <label nz-radio nzValue="dark-theme">{{'theme.dark' | translate}}</label>
            <label nz-radio nzValue="gray-theme">{{'theme.gray' | translate}}</label>
          </nz-radio-group>
    </fieldset>
</nz-drawer>
<ng-template #drawerTemplate>
    <div class="text-center">
        <i nz-icon [nzType]="'setting'" [nzSpin]="true" [nzTheme]="'fill'"></i>&nbsp;<span translate>settings</span>
    </div>
</ng-template>