<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="16">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <div
          id="chart1"
          echarts
          [options]="options"
          theme="dark"
          class="demo-chart"
        ></div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <div
          id="chart2"
          echarts
          [options]="options"
          theme="macarons"
          class="demo-chart"
        ></div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <div
          echarts
          theme="dark"
          [options]="pieOptions"
          (chartInit)="onChartInit($event)"
          class="demo-chart"
        ></div>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6"></div>
</div>
